.container {
   /* Lebar maksimum container. Sesuaikan sesuai kebutuhan desain Anda. */
    max-width: 1200px; /* Contoh: Lebar maksimum 1200px */
    
    /* Memusatkan container secara horizontal di tengah halaman. */
    margin-left: auto;
    margin-right: auto;
    /* Shorthand: margin: 0 auto; */

    /* Padding untuk ruang di dalam container, agar konten tidak menempel di tepi. */
    padding: 0 20px; /* Contoh: Padding 0px atas/bawah, 20px kiri/kanan */
    
    /* Properti opsional untuk visualisasi atau debugging */
    /* background-color: #f9f9f9; */
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}